html,
body {
	height: 100%;
	font-family: 'Raleway', sans-serif;
}

.game-container {
	background-color: aqua;
	height: 100%;
	display: flex;
	text-align: center;
}

.game-block {
	margin: auto;
}

.game-canvas {
	opacity: .75;
	width: 300px;
	height: 300px;
	background-color: #fff;
	position: relative;
}

.snowflake {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 30px;
	height: 30px;
}

.amount-text,
.time-text {
	visibility: hidden;
}
